@model MVC_Album_Modified.Models.AddToRoleModel
@{
    ViewBag.Title = "AddUserToRole";
}

<h2>Add User To Role</h2>
@using(Html.BeginForm("AddUserToRole", "Account"))
            {
                <div class="form-control">
                    @Html.TextBoxFor(m => m.Email)
                    @Html.DropDownListFor(m => m.SelectedRole, new SelectList(Model.Roles))
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            }

